/*fonts*/
@font-face {
    font-family: Avalon;
    src: url(../fonts/Avalon.ttf);
}

@font-face {
    font-family: Avalon;
    src: url(../fonts/LucidaGrande.ttf);
}

@font-face {
    font-family: Avalon-Bold;
    src: url(../fonts/AvalonBold.ttf);
    font-weight: bold;
}

/*//fonts*/

/*common css*/
.main-content-wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    /*padding: 0 15px;*/
}

/*//common css*/

/*header*/
.logo-wrapper {
    margin-top: 54px;
}

.logo {
    width: 183px;
    margin: auto;
}

.under-logo-header h4 {
    width: 245px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    height: 14px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 5.6px;
    color: #191919;
}

.big-header h1 {
    margin: auto;
    margin-top: 71px;
    width: 841px;
    height: 67px;
    opacity: 0.95;
    font-family: 'Avalon-Bold', sans-serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1.01px;
    text-align: center;
    color: #191919;
}

.yellow-square {
    font-size: 20px;
    color: #fdd81c;
}

.header-text p {
    margin: auto;
    margin-top: 40px;
    width: 770px;
    height: 215px;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.80;
    letter-spacing: normal;
    text-align: center;
    color: #191919;
}

.sep {
    margin: auto;
    margin-top: 52px;
    margin-bottom: 75px;
    width: 948px;
    height: 1.3px;
    background-color: #ebebeb;
}

/*//header*/

/*main form*/
form {
    max-width: 948px;
    margin: auto;
}

.form-row {
    clear: both;
}

.form-column-left {
    float: left;
}

.form-column-right {
    float: right;
}

.form-column-right-checkboxes {
    margin-right: 37px;
}

.form-item {
    max-width: 450px;
}

.text-field-label {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 1.4px;
    color: #4d4d4d;
    margin-bottom: 22px;
}

.custom-text-input {
    width: 448px;
    height: 48px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    margin-bottom: 28px;
    margin-top: 22px;
    outline: none;
}

.custom-text-input:hover {
    border: solid 1px gray;
}

.custom-textarea {
    width: 450px;
    height: 163px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    margin-bottom: 30px;
    margin-top: 22px;
    resize: none;
    outline: none;
}

.custom-textarea:hover {
    border: solid 1px gray;
}

/*block to upload file*/
.input-file-wrapper-header {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 1.4px;
    color: #4d4d4d;
}

.input-file-wrapper {
    width: 450px;
    height: 50px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    float: right;
    margin: 10px;
    padding-top: 10px;
    display: inline-block;
    width: 88px;
    height: 24px;
    border-radius: 2px;
    background-color: #fddc3e;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 1.42;
    letter-spacing: 1.2px;
    color: #ffffff;
}

.input-file:focus + label,
.input-file + label:hover {
    cursor: pointer;
}

.choose-file {
    margin: 10px 0 0 16px;
    width: 150px;
    height: 23px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    color: #4d4d4d;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

/*//block to upload file*/

/*radio buttons block*/
.graduated {
    margin-top: 10px;
    width: 770px;
    height: 36px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    color: #4d4d4d;
}

.custom-radio-button-input:checked,
.custom-radio-button-input:not(:checked) {
    position: absolute;
    left: -9999px;
}

.custom-radio-button-input:checked + label,
.custom-radio-button-input:not(:checked) + label {
    position: relative;
    padding-left: 58px;
    padding-top: 8px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.custom-radio-button-input:checked + label:before,
.custom-radio-button-input:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: solid 1px #dcdcdc;
    border-radius: 100%;
    background: #fff;
}

.custom-radio-button-input:checked + label:after,
.custom-radio-button-input:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: rgba(77, 77, 77, 0.81);
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.custom-radio-button-input:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.custom-radio-button-input:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.htmlacademy {
    font-family: 'LucidaGrande', sans-serif;
    border-bottom: solid 1px #fddc3e;
    color: #4d4d4d;
    text-decoration: none;
    letter-spacing: 1px;
}

.htmlacademy:visited {
    font-family: 'LucidaGrande', sans-serif;
    border-bottom: solid 1px #fddc3e;
    color: #4d4d4d;
    text-decoration: none;
}

.radio-buttons-wrapper {
    padding-top: 20px;
    margin-bottom: 105px;
}

.radio-buttons-wrapper p {
    margin: 11px 30px 0 0;
    width: 100px;
    float: left;
}

.radio-buttons-label {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 1.4px;
    color: #4d4d4d;
    text-transform: uppercase;
}

/*//radio buttons block*/

/*checkbox block*/
.mark-skills {
    clear: both;
    width: 596px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: -0.3px;
    color: #979797;
    margin-bottom: 25px;
}

.form-item-checkbox {
    margin-bottom: 23px;
}

/* Base for label styling */
.custom-checkbox-input:not(:checked),
.custom-checkbox-input:checked {
    position: absolute;
    left: -9999px;
}

.custom-checkbox-input:not(:checked) + label,
.custom-checkbox-input:checked + label {
    position: relative;
    padding-left: 65px;
    padding-top: 10px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.25;
    letter-spacing: normal;
    color: #4d4d4d;
}

/* checkbox aspect */
.custom-checkbox-input:not(:checked) + label:before,
.custom-checkbox-input:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 37px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
.custom-checkbox-input:not(:checked) + label:after,
.custom-checkbox-input:checked + label:after {
    content: '';
    width: 16px;
    height: 7px;
    position: absolute;
    top: 13px;
    left: 12px;
    border: 2px solid #4d4d4d;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

/* checked mark aspect changes */
.custom-checkbox-input:not(:checked) + label:after {
    opacity: 0;
}

.custom-checkbox-input:checked + label:after {
    opacity: 1;
}

/* disabled checkbox */
.custom-checkbox-input:disabled:not(:checked) + label:before,
.custom-checkbox-input:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

/* accessibility */
.custom-checkbox-input:checked:focus + label:before,
.custom-checkbox-input:not(:checked):focus + label:before {
    border-radius: 2px;
    border: solid 1px #dcdcdc;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid gray !important;
}

/*//checkbox block*/

/*submit button block*/
.button-wrapper-block {
    margin-bottom: 203px;
    padding-top: 72px;
}

.button-wrapper {
    margin: 0 auto;
    width: 276px;
    height: 76px;
}

#submit {
    width: 276px;
    height: 76px;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #191919;
    border: none;
    text-align: right;
    box-shadow: 0 10px 30px 0 rgba(216, 216, 216, 0.5);
    cursor: pointer;
    outline: none;
}

#submit:hover {
    box-shadow: 0 15px 30px 0 rgba(216, 216, 216, 0.5);
}

.button-line {
    width: 48px;
    height: 1px;
    border-bottom: solid 1px #191919;
    float: left;
    margin-left: 29px;
    margin-top: 7px;
}

.button-text {
    float: right;
    margin-right: 76px;
}

/*//submit button block*/
/*//main form*/

/*footer*/
.footer {
    height: 686px;
    background-color: #000000;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-wrapper {
    max-width: 100%;
    background-color: #000000;
}

.footer-img-wrapper {
    background-image: url("../img/bitmap.png");
    position: relative;
    height: 80%;
    width: 80%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.footer-text-wrapper p {
    font-family: 'Avalon-Bold', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: -.9px;
    text-align: center;
    color: #ffffff;
    padding: 0 120px;
    margin: auto;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
}

/*//footer*/

@media (max-width: 1000px) {
    .big-header h1 {
        margin: auto;
        margin-top: 65px;
        width: 90%;
        height: 67px;
        font-size: 50px;
        line-height: 1.12;
        letter-spacing: 0.8px;
    }

    .header-text p {
        width: 80%;
        height: 215px;
        font-size: 20px;
        line-height: 1.79;
    }

    .sep {
        margin: auto;
        margin-top: 52px;
        margin-bottom: 76px;
        width: 90%;
    }

    form {
        max-width: 750px;
        margin: auto;
    }

    .form-row {
        clear: both;
    }

    .form-column-left {
        float: left;
        margin-right: 0;
    }

    .form-column-right {
        float: right;
    }

    .form-item {
        max-width: 300px;
    }

    .text-field-label {
        font-size: 14px;
        margin-bottom: 22px;
    }

    .custom-text-input {
        width: 300px;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    .custom-textarea {
        width: 300px;
        height: 169px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*block to upload file*/
    .input-file-wrapper-header {
        font-size: 14px;
    }

    .input-file-wrapper {
        width: 300px;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*//block to upload file*/
    /*radio buttons block*/
    .graduated {
        width: 600px;
        height: 36px;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .custom-radio-button-input:checked + label,
    .custom-radio-button-input:not(:checked) + label {
        position: relative;
        padding-left: 58px;
        padding-top: 8px;
    }

    .radio-buttons-wrapper {
        margin-bottom: 130px;
    }

    .radio-buttons-wrapper p {
        width: 100px;
    }

    /*//radio buttons block*/
    /*checkbox block*/
    .mark-skills {
        clear: both;
        width: 400px;
        height: 25px;
        margin-bottom: 33px;
    }

    .form-item-checkbox {
        margin-bottom: 35px;
    }

    .custom-checkbox-input:not(:checked) + label,
    .custom-checkbox-input:checked + label {
        position: relative;
        padding-left: 70px;
        padding-top: 10px;
        font-size: 16px;
    }

    /*//checkbox block*/
    /*submit button block*/
    .button-wrapper-block {
        margin-bottom: 203px;
        padding-top: 96px;
    }

    .button-wrapper {
        margin: 0 auto;
        width: 276px;
        height: 76px;
    }

    /*//submit button block*/
    /*//main form*/
    .footer-text-wrapper p {
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    form {
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 700px) {
    form {
        max-width: 90%;
        margin: auto;
    }

    .form-row {
        clear: both;
    }

    .form-column-left {
        float: none;
        margin-right: 0;
    }

    .form-column-right {
        float: none;
    }

    .form-item {
        max-width: 400px;
        margin: auto;
    }

    .text-field-label {
        font-size: 14px;
        margin-bottom: 22px;
    }

    .custom-text-input {
        width: 400px;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    .custom-textarea {
        width: 400px;
        height: 169px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*block to upload file*/
    .input-file-wrapper-header {
        font-size: 14px;
    }

    .input-file-wrapper {
        width: 400px;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*//block to upload file*/
    /*radio buttons block*/
    .graduated {
        width: 90%;
        height: 36px;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .custom-radio-button-input:checked + label,
    .custom-radio-button-input:not(:checked) + label {
        position: relative;
        padding-left: 58px;
        padding-top: 8px;
    }

    .radio-buttons-wrapper {
        width: 95%;
        margin: auto;
        margin-bottom: 130px;
    }

    .radio-buttons-wrapper p {
        width: 100px;
    }

    /*//radio buttons block*/
    /*checkbox block*/
    .mark-skills {
        clear: both;
        width: 90%;
        height: 25px;
        margin-bottom: 33px;
    }

    .form-item-checkbox {
        margin-bottom: 35px;
    }

    .custom-checkbox-input:not(:checked) + label,
    .custom-checkbox-input:checked + label {
        position: relative;
        padding-left: 70px;
        padding-top: 10px;
        font-size: 16px;
    }

    /*//checkbox block*/
    /*submit button block*/
    .button-wrapper-block {
        margin-bottom: 203px;
        padding-top: 96px;
    }

    .button-wrapper {
        margin: 0 auto;
        width: 276px;
        height: 76px;
    }

    /*//submit button block*/
    /*//main form*/
    /*footer*/
    .footer {
        height: 400px;
    }

    .footer-img-wrapper {
        height: 90%;
        width: 90%;
    }

    .footer-text-wrapper p {
        font-size: 30px;
        font-weight: normal;
        line-height: 1.3;
        padding: 0 10px;
    }

    /*//footer*/
}

@media (max-width: 615px) {
    .big-header h1 {
        margin: auto;
        margin-top: 65px;
        width: 95%;
        height: 67px;
        font-size: 35px;
        line-height: 1.12;
        letter-spacing: 0.8px;
    }

    .header-text p {
        width: 90%;
        height: 215px;
        font-size: 15px;
        line-height: 1.79;
    }

    form {
        max-width: 90%;
        margin: auto;
    }

    .form-row {
        clear: both;
    }

    .form-column-left {
        float: none;
        margin-right: 0;
    }

    .form-column-right {
        float: none;
    }

    .form-item {
        max-width: 300px;
        margin: auto;
    }

    .text-field-label {
        font-size: 14px;
        margin-bottom: 22px;
    }

    .custom-text-input {
        width: 300px;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    .custom-textarea {
        width: 300px;
        height: 169px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*block to upload file*/
    .input-file-wrapper-header {
        font-size: 14px;
    }

    .input-file-wrapper {
        width: 300px;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*//block to upload file*/
    /*radio buttons block*/
    .graduated {
        width: 90%;
        height: 36px;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .custom-radio-button-input:checked + label,
    .custom-radio-button-input:not(:checked) + label {
        position: relative;
        padding-left: 58px;
        padding-top: 8px;
    }

    .radio-buttons-wrapper {
        width: 95%;
        margin: auto;
        margin-bottom: 130px;
    }

    .radio-buttons-wrapper p {
        width: 100px;
    }

    /*//radio buttons block*/
    /*checkbox block*/
    .mark-skills {
        clear: both;
        width: 90%;
        height: 25px;
        margin-bottom: 33px;
    }

    .form-item-checkbox {
        margin-bottom: 35px;
    }

    .custom-checkbox-input:not(:checked) + label,
    .custom-checkbox-input:checked + label {
        position: relative;
        padding-left: 60px;
        padding-top: 10px;
        font-size: 12px;
    }

    /* checkbox aspect */
    .custom-checkbox-input:not(:checked) + label:before,
    .custom-checkbox-input:checked + label:before {
        width: 30px;
        height: 30px;
    }

    /* checked mark aspect */
    .custom-checkbox-input:not(:checked) + label:after,
    .custom-checkbox-input:checked + label:after {
        top: 9px;
        left: 7px;
    }

    /*//checkbox block*/
    /*submit button block*/
    .button-wrapper-block {
        margin-bottom: 203px;
        padding-top: 96px;
    }

    .button-wrapper {
        margin: 0 auto;
        width: 276px;
        height: 76px;
    }

    /*//submit button block*/
    /*//main form*/
    /*footer*/
    .footer {
        height: 400px;
    }

    .footer-img-wrapper {
        height: 90%;
        width: 90%;
    }

    .footer-text-wrapper p {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.3;
        padding: 0 10px;
    }

    /*//footer*/
}

@media (max-width: 360px) {
    .big-header h1 {
        margin: auto;
        margin-top: 65px;
        width: 95%;
        height: 67px;
        font-size: 35px;
        line-height: 1.12;
        letter-spacing: 0.8px;
    }

    .header-text p {
        width: 90%;
        height: 215px;
        font-size: 15px;
        line-height: 1.79;
    }

    form {
        max-width: 100%;
        margin: auto;
    }

    .form-item {
        max-width: 95%;
        margin: auto;
    }

    .text-field-label {
        font-size: 14px;
        margin-bottom: 22px;
    }

    .custom-text-input {
        width: 100%;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    .custom-textarea {
        width: 98%;
        height: 169px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*block to upload file*/
    .input-file-wrapper-header {
        font-size: 14px;
    }

    .input-file-wrapper {
        width: 100%;
        height: 51px;
        margin-bottom: 30px;
        margin-top: 22px;
    }

    /*//block to upload file*/
    /*radio buttons block*/
    .graduated {
        width: 90%;
        height: 36px;
        font-size: 14px;
        margin-bottom: 13px;
    }

    .custom-radio-button-input:checked + label,
    .custom-radio-button-input:not(:checked) + label {
        position: relative;
        padding-left: 58px;
        padding-top: 8px;
    }

    .radio-buttons-wrapper {
        width: 95%;
        margin: auto;
        margin-bottom: 130px;
    }

    .radio-buttons-wrapper p {
        width: 100px;
    }

    /*//radio buttons block*/
    /*checkbox block*/
    .mark-skills {
        clear: both;
        width: 95%;
        margin: auto;
        margin-bottom: 53px;
    }

    .form-item-checkbox {
        width: 95%;
        margin: auto;
        margin-bottom: 30px;

    }

    .custom-checkbox-input:not(:checked) + label,
    .custom-checkbox-input:checked + label {
        position: relative;
        padding-left: 35px;
        padding-top: 10px;
        font-size: 12px;
    }

    /* checkbox aspect */
    .custom-checkbox-input:not(:checked) + label:before,
    .custom-checkbox-input:checked + label:before {
        width: 30px;
        height: 30px;
    }

    /* checked mark aspect */
    .custom-checkbox-input:not(:checked) + label:after,
    .custom-checkbox-input:checked + label:after {
        top: 9px;
        left: 7px;
    }

    .button-wrapper-block {
        margin-bottom: 100px;
    }

    /*footer*/
    .footer {
        height: 350px;
    }

    .footer-img-wrapper {
        height: 90%;
        width: 90%;
    }

    .footer-text-wrapper p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.3;
        padding: 0 10px;
    }

    /*//footer*/
}